BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "uart_sin" SITE "73" ;
LOCATE COMP "uart_sout" SITE "74" ;
IOBUF PORT "uart_sin" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rst" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "sync_in" IO_TYPE=LVCMOS33 ;
IOBUF PORT "uart_sout" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_pio_out_3_" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_pio_out_2_" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_pio_out_1_" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_pio_out_0_" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sync_out" IO_TYPE=LVCMOS33 ;
LOCATE COMP "led_pio_out_0_" SITE "97" ;
LOCATE COMP "led_pio_out_1_" SITE "98" ;
LOCATE COMP "led_pio_out_2_" SITE "99" ;
LOCATE COMP "led_pio_out_3_" SITE "100" ;
LOCATE COMP "led_wb_out_0_" SITE "104" ;
LOCATE COMP "led_wb_out_1_" SITE "105" ;
LOCATE COMP "led_wb_out_2_" SITE "106" ;
LOCATE COMP "led_wb_out_3_" SITE "107" ;
IOBUF PORT "led_wb_out_3_" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_wb_out_2_" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_wb_out_1_" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_wb_out_0_" IO_TYPE=LVCMOS33 ;
LOCATE COMP "sync_out" SITE "142" ;
LOCATE COMP "sync_in" SITE "143" ;
